.custom-page-header {
  min-height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  background: transparent;

  color: #000;

  .ant-page-header-heading-title {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    z-index: 1;
  }

  &:has(.ant-page-header-heading-sub-title) .ant-page-header-heading-title {
    top: -10px;
  }

  .ant-switch {
    right: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

}

.dark {
  .ant-layout-header {

    color: #fff !important;
  }
}